<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <header style="background-color: lightgray;">
            <a href="{% url 'about' %}">about</a>
            <a href="{% url 'flights' %}">Flight</a>
            <a href="{% url 'promo' %}">Promo</a>
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
        </header>
        <h1>About</h1>
        <h1>{{words}}</h1>
    </body>
</html>