{% load static  %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Book and Get cheap ticket - Airpaz</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <header style="background-color: lightgray;">
            <a href="{% url 'about' %}">about</a>
            <a href="{% url 'flights' %}">Flight</a>
            <a href="{% url 'promo' %}">Promo</a>
            <a href="{% url 'register' %}">Register</a>
            <a href="{% url 'login' %}">Login</a>
        </header>

    <h2>Flight</h2>
    <form>
        <fieldset>
            <legend>Please select your preferred contact method:</legend>
            <div>
                <input type="radio" id="one-way" name="flight-option" value="one-way" />
                <label for="one-way">one-way</label>
            
                <input type="radio" id="round-trip" name="flight-option" value="round-trip" />
                <label for="round-trip">round-trip</label>
            </div>
            <option value=""></option>
        </fieldset>
    </form>

        <footer>
            <p>This is footer</p>
        </footer>
    </body>
</html>`