<header style="background-color: lightgray;">
    <a href="{% url 'about' %}">about</a>
    <a href="{% url 'flights' %}">Flight</a>
    <a href="{% url 'promo' %}">Promo</a>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
</header>

<form>
    <label for="email">Enter your Email:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="password">Enter your Password:</label><br>
    <input type="text" id="password" name="password"><br>
    <input type="submit" value="Login"><br>
    <label for="email">Not an Airpaz Member?</label>
    <a href="{% url 'register' %}">Sign up now</a>
</form>