<header style="background-color: lightgray;">
    <a href="{% url 'about' %}">about</a>
    <a href="{% url 'flights' %}">Flight</a>
    <a href="{% url 'promo' %}">Promo</a>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
</header>

<form method="POST">
    {% csrf_token %}

    <label for="">Sign Up</label><br>
    <select name="title">
        <option value="Mr">Mr</option>
        <option value="Mrs">Mrs</option>
        <option value="Ms">Ms</option>
    </select><br>

    <label for="fname">Name :</label><br>
    <input type="text" id="fname" name="fname" placeholder="Firstname">

    <label for="sname">Surname :</label>
    <input type="text" id="sname" name="sname"><br>

    <label for="number">Moblie Number :</label><br>
    <input type="text" id="number" name="number"><br>

    <label for="email">Enter your Email:</label><br>
    <input type="email" id="email" name="email"><br>

    <label for="password">Enter your Password:</label><br>
    <input type="password" id="password" name="password1" placeholder="password"><br>
    <input type="password" id="password" name="password2" placeholder="confirm password"><br>

    <input type="submit" value="Sign Up"><br>
    
</form>

<label>Already an Airpaz member?</label>
<a href="{% url 'login' %}">login</a>